*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


header{
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #298085;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

li {
  list-style: none;
}

nav ul a {
  color: #d5dbdb;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
}


.zoom {
  transition: transform .2s; /* Animation */
  margin: 10px auto;
}

.zoom:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #298085;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;

  display: flex;
  flex-direction: column;
  
  /* text */
  color:  #d5dbdb;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}






.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  color: #298085;
  font-size: 50px;
  font-weight: bold;
}
.title-line1 {
  border: 0 none;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color:#298085;
  margin-bottom: 10px;
}
.title-line2 {
  border: 0 none;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color:#298085;
  margin-bottom: 10px;
}
.support-buttons {
  background-color: #298085;
  border: none;
  color: #d5dbdb;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 22px;
  padding: 14px 25px;
  margin: 0 auto;
}

.screenshots-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.download-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

.download-flex-container > div {
  flex-direction: column;
  margin: 10px;
}

.app-store-button {
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
}

.support-flex-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

.support-flex-container > div {
  flex-direction: column;
  margin: 10px;
}


.flex-item {
  display: flex;
  flex-wrap: nowrap;
}


.main-title-page {
  font-size: 50px;
  font-weight: bold;
  color: #298085;
}

.main-subtitle-page {
  font-size: 30px;
  color: #298085;
}


.features-titles {
  font-size: 30px;
  font-weight: bold;
  color: #298085;
}

.features-6-groups {
  text-align: center;
  padding: 50px;
}


.login-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

.login-container > div {
  flex-direction: column;
  margin: 10px;
}

.submit-button{
  margin: 10px;
}


.registration-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

.registration-container > div {
  flex-direction: column;
  margin: 10px;
}

.account-main-title{
  padding: 15px;
}
