*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


header{
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #298085;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.logo{
  color: #d5dbdb;
  text-transform: uppercase;
  letter-spacing: 5x;
  font-size: 25px;
}

li {
  list-style: none;
}

nav ul a {
  color: #d5dbdb;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;

}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 10px auto;
}

.zoom:hover {
  transform: scale(1.1);
}

.footer {
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #298085;
  color:  #d5dbdb;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #298085;
  font-size: 50px;
}
.title-line1 {
  border: 0 none;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color:#298085;
  margin-bottom: 10px;
}
.title-line2 {
  border: 0 none;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color:#298085;
  margin-bottom: 10px;
}
.support-buttons {
  background-color: #298085;
  border: none;
  color: #d5dbdb;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 40px;
  margin: 0 auto;
}

.screenshots-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.download-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.download-flex-container > div {
  flex-direction: column;
  margin: 10px;
}

.app-store-button {
  height: auto; 
  width: auto; 
  max-width: 250px; 
  max-height: 250px;
}

.main-logo {
  color: white;
}

